body {
    background: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    margin: 100 auto;
    width: 315px;
    height: auto;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
}

.top {
    position: relative;
    justify-content: flex-end;
    display: flex;
    width: 95%;
    height: 48px;
    padding: 6px;
    background: rgba(128, 0, 128, 0.486);
}

.body {
    margin-top: 10px;
    width: 95%;
    height: auto;
    padding: 9px;
    background: #dedede;
}

.btn {
    margin-top: 4px;
    width: 70px;
    height: 72px;
    font-size: 25px;
}

.btn-large {
    margin-top: 4px;
    width: 144px;
    height: 72px;
    font-size: 25px;
}

.result {
    font-size: 25px;
}